openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW Discotech Web API'
  description: 'Web Resources Specification (A7) for Discotech'

servers:
- url: http://lbaw2126-piu.lbaw-prod.fe.up.pt
  description: Production server

externalDocs:
  description: Find more info here.
  url: https://git.fe.up.pt/lbaw/lbaw2021/lbaw2126/-/wikis/home

tags:
  - name: 'M01: Authentication and Profile'
  - name: 'M02: Shop'
  - name: 'M03: Inventory, Wishlist'
  - name: 'M04: Products Orders'
  - name: 'M05: User Administration'
  - name: 'M06: Static pages'

paths:

  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: VIS'
      tags:
        - 'M01: Authentication and Profile'
      responses:
        '200':
          description: 'Ok. Show [UI04](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2126/-/wikis/uploads/18abc901df0ce17f7c8b3ac5e321044b/login.png)'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: VIS'
      tags:
        - 'M01: Authentication and Profile'
 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:          # <!--- form field name
                  type: string
                password:    # <!--- form field name
                  type: string
              required:
                - email
                - password
 
      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to homepage.' #user profile
                  value: '/homepage-login' #?? '/users/{id}'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'
                  
  /logout:
    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated used. Access: CLI, ADM'
      tags:
        - 'M01: Authentication and Profile'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to homepage.' #login form
                  value: '/index' #?? '/login'

  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: VIS'
      tags:
        - 'M01: Authentication and Profile'
      responses:
        '200':
          description: 'Ok. Show [UI05](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2126/-/wikis/uploads/9c6c30164d417634a36f5d6063d0c495/signup.jpg)'

    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the new user registration form submission. Access: VIS'
      tags:
        - 'M01: Authentication and Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
              required:
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'
                  
  /users/{id}:
    get:
      operationId: R106
      summary: 'R106: View user profile'
      description: 'Show the individual user profile. Access: CLI'
      tags:
        - 'M01: Authentication and Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show [UI06](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2126/-/wikis/uploads/a01ea4b0123490b13a0578f003e920e1/myprofile.png)'
 

  /api/shop:
    get:
      operationId: R201
      summary: 'R201: Search Products API'
      description: 'Searches for products and returns the results as JSON. Access: VIS.'

      tags: 
        - 'M02: Shop'

      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: name
          description: Name of the item
          schema:
            type: string
          required: false
        - in: query
          name: type
          description: Type of the item
          schema:
            type: string
          required: false
        - in: query
          name: artist
          description: Name of the artist / band
          schema:
            type: string
          required: false
        - in: query
          name: year
          description: Year of the release
          schema:
            type: integer
          required: false
        - in: query
          name: genre
          description: Genre of the item
          schema:
            type: string
          required: false
        - in: query
          name: brand
          description: Brand of the item
          schema:
            type: string
          required: false
        - in: query
          name: model
          description: Model of the item
          schema:
            type: string
          required: false
        - in: query
          name: classification
          description: Integer corresponding to the work classification
          schema:
            type: integer
          required: false

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: album
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    genre:
                      type: string
                    year:
                      type: string
                    artist:
                      type: string
                    type:
                      type: string
                example:
                  - id: 1
                    name: Ed Sheeran - X
                    genre: Pop/Rock
                    year: 2014
                    artist: Ed Sheeran
                    type: Vinyl
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      brand:
                        type: string
                      category:
                        type: string
                      model:
                        type: string